@model SilkierQuartz.Components.Footer.FooterViewModel

<footer style="text-align:center; margin-top: 3em; padding: .8em 0; background-color: #f8f8f8; font-size: 90%; border-top: 1px solid rgba(34,36,38,.1);">
    <a href="https://github.com/maikebing/SilkierQuartz" target="_blank" style="color: #909090">
        <i class="github icon"></i> SilkierQuartz&nbsp;&nbsp;v@(Model.Version)
    </a>
</footer>