@model SilkierQuartz.Models.JobDataMapModel

<table class="ui very basic single line table" id="job-data-map">
    <thead>
        <tr>
            <th class="six wide">Name</th>
            <th class="six wide">Value</th>
            <th class="six four">Type</th>
        </tr>
    </thead>
    <tbody>
        <vc:job-data-map item="Model.Template" is-template="true" />
        @foreach (var item in Model.Items)
        {
            <vc:job-data-map item="item" is-template="true" />
        }
        <vc:job-data-map item="Model.Template" is-template="true" />
    </tbody>
</table>

<script>
    var $changeTypeCallbackUrl = '{{ActionUrl "ChangeType" "JobDataMap"}}';
</script>

<script src="Content/Scripts/job-data-map.js"></script>
<script src="JobDataMap/TypeHandlers.js"></script>
