@model SilkierQuartz.Models.AuthenticateViewModel

@{
    ViewBag.Title = "Login";
}

<div class="ui inverted page dimmer" id="dimmer"><div class="ui loader"></div></div>

<form class="ui form" asp-controller="Authenticate" asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div class="ui clearing basic segment" style="padding: 0px" id="header">
        <h1 class="ui left floated header">
            Login
        </h1>
    </div>

    <div class="ui segment" style="width: 700px; height: 250px;">
        <div>
            <div class="field accept-error">
                <label>Name</label>
                <input asp-for="UserName" placeholder="User Name" />
            </div>
            <div class="field accept-error">
                <label>Password</label>
                <input asp-for="Password" />
            </div>

            <div class="field accept-error">
                <div class="ui checkbox">
                    <input asp-for="IsPersist" />
                    <label for="isPersist">Remember Me</label>
                </div>
            </div>
        </div>
        <div style="float: left; margin-top: 15px;">
            <div class="ui buttons">
                <button type="submit" class="ui primary button">Login</button>
            </div>
        </div>
    </div>

    @if (ViewContext.ModelState.Any())
    {
        <div asp-validation-summary="All" class="ui negative message">
        </div>
    }
</form>

<script src="/Content/Scripts/post-validation.js"></script>
